.product-backlog__section {
    margin-top: 20px;
}

.product-backlog__button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 1.25rem;
    font-weight: bold;
    gap: 20px;
}

.product-backlog__section--buttons {
    display: flex;
    justify-content: space-around;
}